* {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    text-decoration: none;
}

.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.header {
    background-color: rgb(35, 35, 35);
    height: 50px;
    /* position: fixed; */
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__buttons_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}

.header__buttons_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

.header__button {
    color: rgb(245, 245, 245);
    float: left;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.header__button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.logo {
    padding: 0;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.logo__alyans {
    background-image: url("logo.png");
}

.logo__VK {
    background-image: url("logo-vk.png");
}

.main {
    /* max-width: 60vw;
    min-width:500px; */
    /* position: relative; */
}

.slider-container {
    height: 800px;
    width: 1050px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    overflow: hidden;
    margin: auto;
    
}

.slider-container__slider {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    /* align-items: center; */
    flex-wrap: nowrap;
    height: 666px;
    transition: 0.5s;
}

.slider-container__slide {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    width: 500px;
    margin-right: 25px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
}

.slider-container__slide0 {
    background-image: url("image0.png");
}

.slider-container__slide1 {
    background-image: url("image1.png");
}

.slider-container__slide2 {
    background-image: url("image2.png");
}

.slider-container__slide3 {
    background-image: url("image3.png");
}

.slider-container__slide4 {
    background-image: url("image4.png");
}

.slider-container__slide5 {
    background-image: url("image5.png");
}

.slider-container__text {
    color: white;
    font-size: 33px;
    /* text-shadow: 0 0 10px black; */
    line-height: 35px;
    width: 290px;
    min-height: 30px;
    max-height: 300px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 500px 200px 0 10px;
    overflow: hidden;
}

/* .slider-container__slide:hover, .slider-buttons:hover {
    transform: scale(1.1);
} */

.slider-container__buttons {
    align-self: center;
    transform: translate(-6%, -125%);
}

.slider-container__button {
    background-image: url("rightArrow.svg");
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    display: inline-block;
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 0 20px;
    margin-left: 3px;
    margin-right: 3px;
}

#slideLeft {
    transform: rotate(180deg);
}

/* #slideLeft:hover {
    transform: rotate(180deg) scale(1.1) !important;
} */